@tailwind base;
@tailwind components;
@tailwind utilities;


.card{
    border: 2px  solid #ffb900;
    border-radius: 7px;
}
.title{
    
    text-shadow: 0px 0px 9px #ffb900;
    font-weight: bold;
}
.yellow-color{
    color: #ffb900;
}
.btn{
    border: 2px solid #ffb900;
}
.bg-yellow-color{
    background-color: #ffb900;
}
.bg-yellow-color:hover{
    background-color: #c59b27;
}
.crncy-heading{
    text-shadow: 9px 9px 15px rgb(255, 3, 3),
                -9px -9px 15px rgb(255, 3, 3);
    
}
.border{
    border-bottom: 2px solid #c59b27;
}